.container {
    width: 1024px;
    margin: 0 auto;
    text-align: center;
}
#header {
    background-color: green;
    width: 80%;
    padding:30px;
}
#content {
    padding: 30px;
    background-color:blue;
    width: 80%;
}
